*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact{
    position: relative;
    min-height: 100vh;
}
#header{
    width: 100%;
    height: 100vh;

    background-size: auto; 
    background-position: right;
    background-repeat: no-repeat;
}
.container{
    padding: 20px;
    /* width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    text-align: center; */
}
.form{
    padding: 20px;
    width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 7px;
}
h1{
    padding: 20px;
}

.label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    padding-right: 10%;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    
    box-sizing: border-box;
  }
  .subject{
    height: 80px;
    width: 100%;
    border-radius: 7px;
  }
 

  .contact{
    margin-right: 50px;
  }
   

  .button {
    background-color:#ff66c4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
   margin-top: 20px;
  }
  
  .button:hover {
    background-color: #ff66c4;
  }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo{
    width: 140px;
    padding-left: 10pxS;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #d5d5d5;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

nav ul li a::after{
   content: ''; 
   width: 0%;
   height: 3px;
   background: #ff66c4;
   position:absolute;
   left: 0;
   bottom: -6px;
   transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;

}

footer{
    background-color: rgb(181, 180, 176); 
    width: 80%;
    margin-left: 10%;
    font-size: 15px;
    text-align: center;
}